::-webkit-scrollbar {
    display: none;
}

header {
    height: 23%;
    background: #1D39C4;
    border-radius: 0 0 50px 50px;
    background-repeat: no-repeat;
    background-position-x: right;
    padding: 8% 3% 0 10%;
}

header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .tittle-page {
    font-size: 24px;
    color: white;
    font-family: "quickSanBold";
    display: flex;
    flex-grow: 1;
}

.post-new {
    position: relative;
    width: 15%;
    padding-top: 15%;
}

.icon-pen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(240, 245, 255, 0.44);
    border-radius: 50%;
}

.club-info {
    position: relative;
    left: 0;
    right: 0;
    top: -7%;
    text-align: center;
    height: 10%;
}

.club-info .club-avatar {
    position: relative;
    width: 22%;
    padding-top: 22%;
    margin: 0 auto;
}

.club-info .club-avatar img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.club_short-name {
    margin: 2% 0;
    font-family: 'quickSanBold';
    font-size: 20px;
}

.club_full-name {
    font-family: 'quickSanSemi';
    font-size: 16px;
}

.page-content {
    height: 57%;
    padding-top: 6%;
}

@media only screen and (max-height: 740px) {
    .page-content {
        padding-top: 10%;
    }
}

.page-content .menu-page-content {
    display: flex;
    text-align: center;
    font-family: 'quickSanBold';
    font-size: 18px;
    height: 15%;
}

.menu-page-content .news {
    width: 50%;
}

.menu-page-content .information {
    width: 50%;
}

.line {
    width: 100%;
    background: #1D39C4;
    height: 6%;
    margin-top: 8%;
    border-radius: 50px;
}

.club_new-content {
    width: 85%;
    margin: 0 auto;
    border: 1px solid rgba(29, 57, 196, 0.5);
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 8%;
}

.new-title {
    display: flex;
    padding: 3% 5% 4% 3%;
}

.new-title .avatar {
    position: relative;
    width: 12%;
    padding-top: 12%;
}

.new-title .avatar img {
    position: absolute;
    top: 0;
    height: 100;
    height: 100;
    left: 0;
    right: 0;
    border-radius: 50%;
}

.new-title .new-title-text {
    font-family: 'quickSanBold';
    flex-grow: 1;
    padding: 2% 2% 0 4%;
    font-size: 14px;
}

.new-time {
    font-size: 12px;
    color: #979797;
    font-family: 'quickSanSemi';
}

.new-contents {
    padding: 4%;
    font-family: 'quickSan';
    font-size: 13px;
}

.new-contents .new-content-title {
    font-family: 'quickSanBold';
    font-size: 14px;
    margin: 0 0 4% 0;
}

footer {
    height: 10%;
}

footer a {
    color: #979797;
}

.menu-footer {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0% 6% 0 7%;
    border-top: 1px solid rgba(29, 57, 196, 0.16);
    color: #979797;
    font-family: "quickSanSemi";
    font-size: 12px;
    height: 90%;
}

.item_menu-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}