a {
  color: black;
}

header {
  background: #1d39c4;
  border-radius: 0 0 31px 31px;
  color: white;
  padding: 4% 6% 0 6%;
  height: 26%;
}

.info-user {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
  text-align: center;
  height: 58%;
}

.page-name {
  font-family: poppinsBold;
  font-size: 30px;
  padding-left: 7%;
  align-self: flex-end;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 41%;
  padding-top: 3.5%;
}

.search input {
  background: rgba(196, 196, 196, 0.15);
  border-radius: 10px;
  flex-grow: 1;
  padding: 3.5% 4% 3.5% 15%;
  margin-right: 6%;
  color: white;
  background-repeat: no-repeat;
  background-position: 7%;
  font-family: "quickSan";
}
.search input::placeholder {
  color: white;
  font-family: quickSan;
  opacity: 0.8;
}

.page-content {
  padding-top: 8%;
  font-family: "quickSanBold";
  width: 85%;
  margin: 0 auto;
  height: 64%;
}

.menu_page-content {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 6%;
  font-size: 16px;
  width: 100%;
  height: 43%;
}

.item-menu {
  background: #ffccc7;
  border-radius: 20px;
  padding: 8% 2% 0 2%;
  width: 100%;
  height: 100%;
}

.menu_page-content .item-menu div {
  height: 72%;
}
.menu_page-content .item-menu div img {
  width: 100%;
  height: 100%;
}

.item-menu_title {
  height: 27%;
  padding-top: 8%;
}

